@media (max-width: 768px) {
  body {
  }
  #search-trend {
    display: none !important;
    visibility: hidden !important;
  }
  #who-follow {
    display: none !important;
    visibility: hidden !important;
  }
}
